{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
        <title>IDE</title>
    </head>
    <body>
        <h3>Network Service Chaining</h3>
        <hr/>
        <div id="resources">
            <div class="item" draggable="true"></div>
            <div class="item" draggable="true"></div>
        </div>
        <br/>
        <div id="board">
        </div>
        <script>
            var board;
            var element;
            window.addEventListener('load', init);
            function init(){
                var items = document.getElementsByClassName("item");
                board = document.getElementById("board");

                board.addEventListener('dragover', dragOver, false);
                board.addEventListener('dragleave', dragLeave, false);
                board.addEventListener('drop', dropStart, false);

                for(var i in items){
                    items[i].addEventListener('dragstart', dragStart, false);
                    items[i].addEventListener('dragend', dragEnd, false);
                }
            }

            function dragStart(e){
                this.style.backgroundColor = "blue";
                element = this;
                var dad = document.createElement("p");
                var child = this.cloneNode(true);
                dad.appendChild(child);
                e.dataTransfer.setData("child", dad.innerHTML);
            }

            function dragOver(e){
                e.preventDefault();
                this.style.backgroundColor = "yellow";
            }

            function dragLeave(e){
                this.style.backgroundColor = "green";
            }

            function dragEnd(e){
                this.style.backgroundColor = "red";
            }

            function dropStart(e){
                e.preventDefault();
                var data = e.dataTransfer.getData("child");
                this.innerHTML += data;
                element.parentNode.removeChild(element);
            }

        </script>
    </body>
</html>