{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Chains Constructor | NSC</title>
    </head>
    <body>
        <div class="navbar-fixed">
            <nav>
                <div class="nav-wrapper light-blue darken-4 padding-left-right-sm">
                    <a href="{% url 'index' %}" class="brand-logo white-text">Network Service Chaining | 
                        <span style="font-size: 12px;">IP: </span>
                        <span id="ip" style="font-size: 12px;">undefined yet.</span>
                        <span style="font-size: 12px;"> | Topology: </span>
                        <span id="topo_type" style="font-size: 12px;">Tree</span>
                        <span style="font-size: 12px;"> </span>
                        <span id="topo_p1" style="font-size: 12px;">2</span><!--Depth-->
                        <span style="font-size: 12px;">/</span>
                        <span id="topo_p2" style="font-size: 12px;">2</span><!--Fanout-->
                    </a>
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li id="btn_config"><a>Configuration</a></li>
                        <li id="btn_save"><a>Save</a></li>
                        <li id="btn_delete"><a>Delete</a></li>
                        <li id="btn_restart"><a>Restart</a></li>
                        <!--<li><a href="{% url 'index' %}">Restart</a></li>-->
                    </ul>
                </div>
            </nav>
        </div>
        <div class="row">
            <div class="col s2">
                <div id="resources" class="card center-align">
                    <br/>
                    <h5 class="center-align">Network Service Functions</h5>
                    <br/>
                    <img id="firewall" src="{% static 'images/firewall.png' %}" class="item hoverable margin-sm c_move" draggable="true"/>
                    <img id="loadBalancer" src="{% static 'images/loadbalancer.png' %}" class="item hoverable margin-sm c_move" draggable="true"/>
                    <img id="router" src="{% static 'images/network.png' %}" class="item hoverable margin-sm c_move" draggable="true"/>
                    <br>
                    <hr>
                    {% for k, v in dic.items %}
                        <h5 class="center-align">{{ v.name }}</h5>
                        <img id="{{k}}" src="{% static 'images/link.png' %}" class="item hoverable margin-sm c_move chain" draggable="true"/>
                        <BR>
                        <p>{{ v.description }}</p>
                        <hr>
                    {% endfor %}
                </div>
            </div>
            <div class="col s10">
                <div id="board" class="card">
                    <br/>
                    <h4 class="center-align">Chains Constructor</h4>
                    <br/>
                </div>
            </div>
        </div>
        <div id="btn_run" class="fixed-action-btn"><a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">play_arrow</i></a></div>

        <!-- MODAL FIREWALL CONFIG -->
        <div id="modal_firewall_config" class="modal modal-fixed-footer">
            <div class="modal-content">
                <h4>Firewall Configuration</h4>
                <div class="row" style="border-bottom: 1px solid grey;">
                    <div class="col s6" style="border-right: 1px solid grey;">
                        <h6 class="center-align">New Rules</h6>
                    </div>
                    <div class="col s6">
                        <h6 class="center-align">Confirmed Rules</h6>
                    </div>
                </div>
                <div class="row">
                    <div id="newRulesFw" class="col s6">
                    </div>
                    <div id="confirmedFw" class="col s6 center-align">
                        <p id="default">Default configuration.</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Save</a>
            </div>
        </div>

        <!-- MODAL LOAD BALANCER CONFIG -->
        <div id="modal_loadBalancer_config" class="modal modal-fixed-footer">
            <div class="modal-content">
            <h4>Load Balancer Configuration</h4>
            <p>A bunch of text</p>
            </div>
            <div class="modal-footer">
            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Agree</a>
            </div>
        </div>

        <!-- MODAL ROUTER CONFIG -->
        <div id="modal_router_config" class="modal modal-fixed-footer">
            <div class="modal-content">
            <h4>Router Configuration</h4>
            <p>A bunch of text</p>
            </div>
            <div class="modal-footer">
            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Agree</a>
            </div>
        </div>

        <!--MODAL IP & TOPOLOGY CONFIG-->
        <div id="modal_config" class="modal modal-fixed-footer bottom-sheet">
            <div id="modal_body" class="modal-content">
                <h4 id="modal_title"></h4>
                <div id="modal_config_body" class="display-inline"></div>
                <div id="modal_config_body_sec" class="display-inline"></div>
                <div id="modal_config_body_sec_2" class="display-inline"></div>
            </div>
            <div class="modal-footer">
              <button id="btn_saveConfig" class=" modal-action modal-close waves-effect waves-green btn-flat">Save</a>
            </div>
        </div>

        <!--MODAL SAVE-->
        <div id="modal_save" class="modal bottom-sheet">
            <div id="modal_body" class="modal-content">
                <div class="input-field inline">
                  <input id="name" type="text" class="validate">
                  <label for="name">Chain Name</label>
                </div>

                <div class="input-field col s6">
                  <input id="description" type="text" class="validate">
                  <label for="description">Description</label>
                </div>
            </div>
            <div class="modal-footer">
              <button id="btn_saveChain" class=" modal-action modal-close waves-effect waves-green btn-flat">Save</button>
            </div>
        </div>

        <!--MODAL DELETE-->
        <div id="modal_delete" class="modal bottom-sheet">
            <div id="modal_body" class="modal-content">
                <h4>Delete chains</h4>
                <form action="chain/delete/" method="POST">
                    {% csrf_token %}
                    {% for k, v in dic.items %}
                        <p>
                          <input type="checkbox" name="id" value="{{v.id}}" id="chain_{{k}}" />
                          <label for="chain_{{k}}">{{v.name}}</label>
                        </p>
                    {% endfor %}
                    <button type="submit" class=" modal-action modal-close waves-effect waves-green btn-flat">Delete</button>
                </form>
            </div>
            <div class="modal-footer">
            </div>
        </div>

        <!-- MODAL CHAINS VIEWER -->
        <div id="modal_chainsDetail" class="modal">
            <div class="modal-content">
                <h4>Chain Detail</h4>
                {% load filters_extras %}
                {% for k, v in dic.items %}
                <div id="info_{{v.id}}" class="display-none chainDetail">
                    <h5>Name: {{ v.name }}</h5>
                    <p>Description: {{ v.description }}</p>
                    Start ->
                    {% for key in v.content|dictsort:0 %}
                        {% with nf=v.content|findDict:key %}
                            {% if nf == "firewall" %}
                                Firewall ->
                            {% elif nf == "loadBalancer" %}
                                Load Balancer ->
                            {% elif nf == "router" %}
                                Router ->
                            {% else %}
                                Chain {{nf}} ->
                            {% endif %}
                        {% endwith %}
                    {% endfor %}
                    End.
                </div>
                {% endfor %}
            </div>
            <div class="modal-footer">
                <a role="button" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
            </div>
        </div>

        <!--<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="http://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
        <script type="text/javascript" src="{% static 'jscookie.js' %}"></script>
        <script type="text/javascript" src="{% static 'script.js' %}"></script>
    </body>
</html>