html, body{
    font-family: 'Roboto', sans-serif;
}

#resources{
    height: 500px;
    overflow-y: scroll;
}

#board{
    height: 500px;
    overflow-y: scroll;
}

#arrow{
    width: 80px;
    height: auto;
}

.item{
    width: 50%;
    height: 50%;
    max-width: 120px;
    max-height: 120px;
    border: 1px solid #cfd8dc;
    border-radius: 50%;
    cursor: move;
}

.clicked{
    /*border: 1.5px solid #ff0000;*/
    width: 2000px;
}

/* PROPERTIES */

.visible{
    visibility: visible;
}

.invisible{
    visibility: hidden;
}

.relative{
    position: relative;
}

.absolute{
    position: absolute;
}

/* MARGINS AND PADDINGS */

.margin-sm{
    margin: 10px;
}

.padding-sm{
    padding: 10px;
}